.team-rep-container
  %b Team Reps:
  %ul.team-reps-list.list-unstyled
    - if team.reps.length > 0
      - team.reps.each do |rep|
        -if rep.profile
          %li=link_to rep.profile.name, rep.profile
    - else
      .no-team-rep No Team Reps