- content_for :panel_head do
  %h1 
    Editing 
    =@team.name
  = render partial: "shared/actions/edit_actions", locals: { allPath: teams_path, fieldName: 'Team', showPath: @team}

= render 'form'

