- table_values = nagaaa_export_values
%table
  %thead
    = render :partial => "teams/ratings/nagaaa/export/head", :locals => {:team => @team, :col_colors => table_values[:col_colors], :questions => table_values[:questions] }
  %tbody
    - @teamsRosters.each do |roster|
      = render :partial => "teams/ratings/nagaaa/export/row", :locals => {:roster => roster, :col_colors => table_values[:col_colors], :questions => table_values[:questions], :team_rating => @teamRating}
