- content_for :panel_head do
  %h1
    Editing ASANA Ratings for 
    =@team.name
  = link_to raw("<i class='fa fa-download'></i> Download CSV"), "/teams/#{@team.id}/ratings.csv", {:class => 'btn btn-default'}

-if @teamRoster.length > 0
  = render :partial => 'teams/ratings/table', :locals => {:rosters => @teamRoster}