- content_for :panel_head do
  %h1 Contact Big Apple Softball League
  %h5 Have Any questions or comments? 

%p
  If you have any issues with the website please contact the 
  = link_to 'webteam@bigapplesoftball.com', 'mailto:webteam@bigapplesoftball.com?Subject=BASL%20Manager'