- content_for :panel_head do
  %h1 Welcome to The League Manager

.row
  .col-md-2.sidebar
    = render partial: "shared/sidebar"
  .col-md-10
    %h3 Upcoming BASL Events
    %h3 BASL News & Announcements

