- content_for :panel_head do
  %h1 Welcome to The BASL  Manager

.row
  .col-md-3.sidebar
    = render partial: "shared/sidebar"
  .col-md-8
    - if is_logged_in?
      = render partial: 'shared/player_details'
    - else
      Welcome to the BASL Manager. 

      = link_to 'Login to Get Started', signin_path, :class => 'btn btn-default'

