- content_for :panel_head do
  %h1
    Editing Profile
  = render partial: "shared/actions/edit_actions", locals: { allPath: profiles_path, fieldName: 'Profile', showPath: @profile}

%p#notice= notice
= render 'form'
