.panel.panel-warning
  .panel-heading
    %h1 Profiles
    =link_to '+ Create New Profile', new_profile_path, :class => 'btn btn-default'
  .panel-body
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %th Profile Id
        %th Name

      - @profiles.each do |profile|
        %tr
          %td= profile.id
          %td
            = link_to "#{profile.first_name} #{profile.last_name}", profile
            
