%td{:align => 'center'}
  %b 0
- count = 0
- (1..questions[:throwing]).each do |i|
  - count+= 1
  %td{:bgcolor => col_colors[:throwing],:align => 'center'}
    0
- (1..questions[:fielding]).each do |i|
  - count+= 1
  %td{:bgcolor => col_colors[:fielding], :align => 'center'}
    0
- (1..questions[:running]).each do |i|
  - count += 1
  %td{:bgcolor => col_colors[:running], :align => 'center'}
    0
- (1..questions[:hitting]).each do |i|
  - count += 1
  %td{:bgcolor => col_colors[:hitting], :align => 'center'}
    0