- content_for :panel_head do
  %h1 
    Editing ASANA Rating for
    =@profile.name
  = render partial: "shared/actions/edit_actions", locals: { allPath: asana_ratings_path, fieldName: 'ASANA Rating', showPath: @asana_rating}

= render 'form'

