%li.hof-card{:ontouchstart=>"this.classList.toggle('hover');"}
  .hof-card-front
    .hof-card-image
      %img{:src=>"#{hof.image_url ? hof.image_url : 'https://style.anu.edu.au/_anu/4/images/placeholders/person_6x8.png'}"}
      .hof-card-overlay
    .hof-card-name
      - if hof.profile
        = hof.profile.name
  .hof-card-back
    .hof-card-back-container
      .hof-card-header
        .hof-card-name
          - if hof.profile
            =hof.profile.name
        .hof-card-inducted
          Inducted in
          =hof.date_inducted.strftime("%Y")
      .hof-card-player-details
        %p=hof.details