%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    =stylesheet_link_tag "hofsList.css"
  %body
    %ul.js-hof-list.hof-list
      - @hallof_famers.each do |hof|
        =render partial: 'hallof_famers/hof_card', locals: { hof: hof }
        
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag "hofsList.js"
