%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    =stylesheet_link_tag "hofsList.css"
  %body
    %ul.js-hof-list.hof-list
      - @hallof_famers.each do |hof|
        %li.hof-card{:ontouchstart=>"this.classList.toggle('hover');"}
          .hof-card-front
            .hof-card-image
              %img{:src=>"#{hof.image_url ? hof.image_url : 'http://style.anu.edu.au/_anu/4/images/placeholders/person_6x8.png'}"}
              .hof-card-overlay
            .hof-card-name
              =hof.first_name
              =hof.last_name
          .hof-card-back
            .hof-card-back-container
              .hof-card-header
                .hof-card-name
                  =hof.first_name
                  =hof.last_name
                .hof-card-inducted
                  Inducted in
                  =hof.date_inducted.strftime("%Y")
              .hof-card-player-details
                %p=hof.details

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag "hofsList.js"
