%h1 Create New Hall of Famer

.well
  Note: Currently Hall of Famers are tied to their 
  = link_to 'profile id', profiles_path
  So you must add the player by that id

= render 'form'

= link_to 'Back', hallof_famers_path
