.alert.alert-default
  This form is intended to be used as a tool to assist those responsible for rating players so ratings may be fair and consistent across all levels of play and across all leagues in NAGAAA. All questions are intended to determine if a player possesses a skill or skills necessary for softball.
  .panel.panel-success
  .panel-body
    .alert.alert-success
      .alert-title
        Definitions for Fielding Questions
      .alert-body
        %strong
          Occasionally
        %p
          to be able to perform the particular skill with some regularity or more often than not. (i.e. the skill can be performed 3 out of 5 times)
        %strong
          Consistently
        %p
          to be able to perform the particular skill with great regularity. (i.e. the skill can be performed 4 out of 5 times)
    Does the player have the ability to:
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "81173"}
        6. occasionally on purpose catch balls that are thrown to the player with a rainbow arc?

    .checkbox
      %label
        %input#inlineCheckbox2{:type => "checkbox", :value => "81175"}
        7. occasionally on purpose catch balls that are thrown to the player without a rainbow arc?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81176"}
        8. consistently on purpose field slow hit balls that are within a few steps?
        %br
        OR
        %br
        consistently on purpose catch fly balls that are within 15 feet?
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "81178"}
        9. consistently on purpose field medium hit balls that are within a few steps?
        %br
        OR
        %br
        consistently on purpose catch fly balls that are more than 15 feet away?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81181"}
        10. occasionally on purpose field medium hit balls that are in the hole?
        %br
        OR
        %br
        occasionally on purpose catch fly balls that are more than 30 feet away?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81187"}
        11. consistently on purpose field medium hit balls that are in the hole?
        %br
        OR
        %br
        consistently on purpose catch fly balls that are more than 30 feet away?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81190"}
        12. occasionally on purpose field hard hit balls that are in the hole?
        %br
        OR
        %br
        occasionally on purpose stop line drives in the gaps from getting by the outfielders?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81193"}
        13. consistently on purpose field hard hit balls that are in the hole?
        OR
        %br
        consistently on purpose stop line drives in the gaps from getting by the outfielders?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81196"}
        14. occasionally on purpose make spectacular catches?

