.modal.fade.modal-danger.js-hitting-modal.modal-rating{:data => {:rating_type => 'hitting'}}
  .modal-dialog
    .modal-content
      = render :partial => "./modal/modalheader", locals:{ title: 'Hitting', modalClass: 'modal-danger'}
      .modal-body
        = render :partial => "./modal/hittingmodalbody"
      = render :partial => "./modal/modalfooter", locals:{actionBtnClass: 'btn-danger'}