.alert.alert-default
  This form is intended to be used as a tool to assist those responsible for rating players so ratings may be fair and consistent across all levels of play and across all leagues in NAGAAA. All questions are intended to determine if a player possesses a skill or skills necessary for softball.
  .panel.panel-danger
  .panel-body
    .alert.alert-danger
      .alert-title
        Definitions for Hitting Questions
      .alert-body
        %strong
          Occasionally
        %p
          to be able to perform the particular skill with some regularity or more often than not. (i.e. the skill can be performed 3 out of 5 times)
        %strong
          Consistently
        %p
          to be able to perform the particular skill with great regularity. (i.e. the skill can be performed 4 out of 5 times)
    Does the player have the ability to:
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "81207"}
        19. occasionally hit a fair ball?
    .checkbox
      %label
        %input#inlineCheckbox2{:type => "checkbox", :value => "81210"}
        20. consistently hit a fair ball?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81212"}
        21. occasionally hit a fair ball with at least medium velocity?
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "81215"}
        22. consistently hit a fair ball with at least medium velocity?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81218"}
        23. consistently reach base safely on a batted ball against a limited level of defense?
        %br
        OR
        %br
        occasionally reach base safely on a batted ball against an intermediate level of defense?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81223"}
        24. consistently reach base safely on a batted ball against an intermediate level of defense?
        %br
        OR
        %br
        occasionally reach base safely on a batted ball against an exceptional level of defense?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81224"}
        25. consistently reach base safely on a batted ball with high velocity against an intermediate level of defense:
        %br
        OR
        %br
        consistently reach base safely on a batted ball against an exceptional level of defense?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81225"}
        26. consistently reach base safely on a batted ball with high velocity against an exceptional level of defense?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "81226"}
        27. occasionally hit a ball over a 300’ fence?
