.panel.panel-danger
  .panel-body
    Does the player have the ability to:
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "19"}
        19. occasionally hit a fair ball?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "20"}
        20. consistently hit a fair ball?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "21"}
        21. occasionally hit a fair ball with at least medium velocity?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "22"}
        22. consistently hit a fair ball with at least medium velocity?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "23"}
        23. consistently reach base safely on a batted ball against a limited level of defense?
        %br
        OR
        %br
        occasionally reach base safely on a batted ball against an intermediate level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "24"}
        24. consistently reach base safely on a batted ball against an intermediate level of defense?
        %br
        OR
        %br
        occasionally reach base safely on a batted ball against an exceptional level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "25"}
        25. consistently reach base safely on a batted ball with high velocity against an intermediate level of defense:
        %br
        OR
        %br
        consistently reach base safely on a batted ball against an exceptional level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "26"}
        26. consistently reach base safely on a batted ball with high velocity against an exceptional level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "27"}
        27. occasionally hit a ball over a 300’ fence?

.alert.alert-danger.js-hitting-modal-error.js-modal-error{:style=>'display:none'}