%tr
  %td
    %label 
      ="#{number}."
      Does the player have the ability to
      =question
  %td 
    %input.js-rating-checkbox.js-bs-switcher{:type => "checkbox", :value => "#{number}", :class => "js-rating-#{number}"}  