.alert.alert-default
  This form is intended to be used as a tool to assist those responsible for rating players so ratings may be fair and consistent across all levels of play and across all leagues in NAGAAA. All questions are intended to determine if a player possesses a skill or skills necessary for softball.
  .panel.panel-primary
  .panel-body
    .alert.alert-warning
      .alert-title
        Definitions for Base Running Questions
      .alert-body
        %strong
          Occasionally
        %p
          to be able to perform the particular skill with some regularity or more often than not. (i.e. the skill can be performed 3 out of 5 times)

    Does the player have the ability to:
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "15"}
        15. go from base to base utilizing rudimentary knowledge of the rules?

    .checkbox
      %label
        %input#inlineCheckbox2{:type => "checkbox", :value => "16"}
        16. run with average speed and occasionally take extra bases on good hits or errors against a limited level of defense?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "17"}
        17. run aggressively with average or better speed and occasionally take extra bases on good hits or errors against an intermediate level of defense?
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "18"}
        18. run very aggressively and occasionally take extra bases on good hits or errors against an exceptional level of defense?
