.panel.panel-primary
  .panel-body
    Does the player have the ability to:
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "15"}
        15. go from base to base utilizing rudimentary knowledge of the rules?

    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "16"}
        16. run with average speed and occasionally take extra bases on good hits or errors against a limited level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "17"}
        17. run aggressively with average or better speed and occasionally take extra bases on good hits or errors against an intermediate level of defense?
    .checkbox
      %label
        %input.js-rating-checkbox{:type => "checkbox", :value => "18"}
        18. run very aggressively and occasionally take extra bases on good hits or errors against an exceptional level of defense?

.alert.alert-danger.js-baserunning-modal-error.js-modal-error{:style=>'display:none'}