.modal.fade.modal-warning.js-baserunning-modal.modal-rating.js-modal{:data => {:rating_type => 'baserunning'}}
  .modal-dialog
    .modal-content
      = render :partial => "./modal/modalheader", locals:{ title: 'Baserunning', modalClass: 'modal-warning'}
      .modal-body
        = render :partial => "./modal/runningmodalbody"
      = render :partial => "./modal/modalfooter", locals:{actionBtnClass: 'btn-warning'}