.alert.alert-default
  This form is intended to be used as a tool to assist those responsible for rating players so ratings may be fair and consistent across all levels of play and across all leagues in NAGAAA. All questions are intended to determine if a player possesses a skill or skills necessary for softball.
  .panel.panel-primary
  .panel-body
    .alert.alert-info
      .alert-title
        Definitions for Fielding Questions
      .alert-body
        %strong
          Occasionally
        %p
          to be able to perform the particular skill with some regularity or more often than not. (i.e. the skill can be performed 3 out of 5 times)
        %strong
          Consistently
        %p
          to be able to perform the particular skill with great regularity. (i.e. the skill can be performed 4 out of 5 times)
    Does the player have the ability to:
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "1"}
        1. occasionally throw a ball through the air 65 feet or better in the vicinity of another player? (65 feet is the distance between bases)

    .checkbox
      %label
        %input#inlineCheckbox2{:type => "checkbox", :value => "2"}
        2. consistently throw a ball through the air 90 feet or better in the vicinity of another player? (90 feet is the distance between 3rd and 1st)
        %br
        OR
        %br
        occasionally throw to the proper place turning accurate infield plays against runners with average base running speed?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "3"}
        3. occasionally throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player?
        %br
        OR
        %br
        consistently throw to the proper place turning accurate infield plays against runner with average base running speed?
    .checkbox
      %label
        %input#inlineCheckbox1{:type => "checkbox", :value => "4"}
        4. consistently throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player?
    .checkbox
      %label
        %input#inlineCheckbox3{:type => "checkbox", :value => "5"}
        5. consistently throw without a rainbow arc to the proper place turning accurate infield plays against aggressive runners with above average speed?
        %br
        OR
        %br
        consistently make long throws without a rainbow arc from the outfield directly and accurately to the proper base completing proper plays against aggressive runners with above average speed?
