.panel.panel-primary
  .panel-body
    Does the player have the ability to:
    .checkbox
      %label
        %input.js-rating-checkbox.js-rating-1{:type => "checkbox", :value => "1"}
        1. occasionally throw a ball through the air 65 feet or better in the vicinity of another player? (65 feet is the distance between bases)

    .checkbox
      %label
        %input.js-rating-checkbox.js-rating-2{:type => "checkbox", :value => "2"}
        2. consistently throw a ball through the air 90 feet or better in the vicinity of another player? (90 feet is the distance between 3rd and 1st)
        %br
        OR
        %br
        occasionally throw to the proper place turning accurate infield plays against runners with average base running speed?
    .checkbox
      %label
        %input.js-rating-checkbox.js-rating-3{:type => "checkbox", :value => "3"}
        3. occasionally throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player?
        %br
        OR
        %br
        consistently throw to the proper place turning accurate infield plays against runner with average base running speed?
    .checkbox
      %label
        %input.js-rating-checkbox.js-rating-4{:type => "checkbox", :value => "4"}
        4. consistently throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player?
    .checkbox
      %label
        %input.js-rating-checkbox.js-rating-5{:type => "checkbox", :value => "5"}
        5. consistently throw without a rainbow arc to the proper place turning accurate infield plays against aggressive runners with above average speed?
        %br
        OR
        %br
        consistently make long throws without a rainbow arc from the outfield directly and accurately to the proper base completing proper plays against aggressive runners with above average speed?
        
.alert.alert-danger.js-throwing-modal-error.js-modal-error{:style=>'display:none'}

