- content_for :panel_head do
  %h1 Showing Admin
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_admin_path(@admin), fieldName: 'Admin', allPath: admins_path}
%p
  %b Email:
  = @admin.email
