%select.chosen-select.form-control.js-field-selector{ :data => {:placeholder => 'Select a Field'}, :name=> name }
  %option
  - fields.each do |field|
    - if selected_field && selected_field == field.id
      %option{:value => "#{field.id}", :selected => true}=field[:name]
    - else
      %option{:value => "#{field.id}"}=field[:name]