%select.chosen-select.form-control.js-park-selector{ :data => {:placeholder => 'Select a Park'}, :name=> name }
  %option
  - parks.each do |park|
    - if selected_park && selected_park.id == park.id
      %option{:value => "#{park.id}", :selected => true}=park[:name]
    - else
      %option{:value => "#{park.id}"}=park[:name]