%th Player
%th.center-column DOB
%th.center-column NAGAAA ID
%th.center-column Rating
%th.center-column Throwing
%th.center-column Fielding
%th.center-column Baserunning
%th.center-column Hitting
%th.center-column Status
%th.center-column Actions