-if profile.present?
  - player_rating = profile.rating
  %tr.js-player-row{:data => {'player_id' => profile.id}, :class => "js-player-row-#{profile.id}"}
    %td
      %strong= link_to profile.name, profile
    %td.center-column
      %span=profile.dob
    - if player_rating
      %td.center-column
        .edit-btn=player_rating.total
      %td.center-column
        .btn.btn-primary.edit-btn=player_rating.throwing_total
      %td.center-column
        .btn.btn-success.edit-btn=player_rating.fielding_total
      %td.center-column
        .btn.btn-warning.edit-btn=player_rating.baserunning_total
      %td.center-column
        .btn.btn-danger.edit-btn=player_rating.hitting_total
      %td.center-column=render :partial => "teams/ratings/shared/row_status", :locals => {:player_rating => player_rating}
      %td
        =render :partial => "teams/ratings/shared/row_actions", :locals => {:player_rating => player_rating}
    - else
      %td.warning.no-ranking-warning.center-column{:colspan => '7'}
        No Rating Found.
        - if @CanEditRatings
          = link_to '+ Add Rating', "/nagaaa_rating_to_profile/#{profile.id}", {:class => 'btn btn-sm btn-default'}