%th Player
%th.center-column.medium-large-screen-only DOB
%th.center-column Rating
%th.center-column.throwing-column{:title => 'Throwing'}
  %span.small-screen-only T
  %span.medium-large-screen-only Throwing
%th.center-column.fielding-column{:title => 'Fielding'}
  %span.small-screen-only F
  %span.medium-large-screen-only Fielding
%th.center-column.batting-column{:title => 'Batting'}
  %span.small-screen-only B
  %span.medium-large-screen-only Batting
%th.center-column.baserunning-column{:title => 'Running'} 
  %span.small-screen-only R
  %span.medium-large-screen-only Running
%th.center-column.fundamentals-column{:title => 'Fundamentals'} 
  %span.small-screen-only F
  %span.medium-large-screen-only Misc
%th.center-column.experience-column{:title => 'Experience'} 
  %span.small-screen-only E
  %span.medium-large-screen-only Exp
%th.center-column{:title => 'Approval Status'}
  %span.small-screen-only Status
  %span.medium-large-screen-only 
    Approval  
    %br
    Status
%th.center-column