-if profile.present?
  - player_rating = profile.asana_ratings.first
  %tr.js-player-row{:data => {'player_id' => profile.id}, :class => "js-player-row-#{profile.id}"}
    %td
      %strong=profile.name
    %td.center-column.medium-large-screen-only
      %span=profile.dob
    - if player_rating
      %td.center-column
        .edit-btn.js-total-btn=player_rating.total
      %td.center-column.throwing-column=player_rating.throwing_total
      %td.center-column.fielding-column=player_rating.fielding_total
      %td.center-column.baserunning-column=player_rating.baserunning_total
      %td.center-column.batting-column=player_rating.batting_total
      %td.center-column.fundamentals-column=player_rating.fundamentals_total
      %td.center-column.experience-column=player_rating.experience_total
      - if @CanEditRatings
        %td.center-column
          = link_to raw('<i class="fa fa-pencil"></i>'), player_rating, {:class => 'btn btn-sm btn-default'}
    - else
      %td.warning.no-ranking-warning.center-column{:colspan => '7'}
        No Rating Found.
        - if @CanEditRatings
          = link_to '+ Add Rating', "/asana_rating_to_profile/#{profile.id}", {:class => 'btn btn-sm btn-default'}