- content_for :panel_head do
  %h1 Divisions
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_division_path}

%table.table.table-bordered.table-striped.table.condensed
  %tr
    %th Description
    %th Season
    %th.actions-column
  - @divisions.each do |division|
    %tr
      %td=division.description
      %td=division.season.description
      %td= render partial: 'shared/actions/table_actions', locals: { editPath: edit_division_path(division), deletePath: division}