- content_for :panel_head do
  %h1
    Generating Schedule for
    =@division.description
  =link_to 'Generate Games','#', :class => 'btn btn-default js-scheduler-generator'

.well
  You are going to generate a schedule for
  =@division.teams.size
  teams with 
  %input.js-total-games{:type => 'text', :value => 15} 
  weeks worth of games
  .well
    %span.small-text *
    indicates a split game
  %input.js-division-id{:type => 'hidden', :value => params[:divisionId]}
.scheduler-results.js-scheduler-results=render partial: "schedules/generated_weeks", locals: { weeks: @generated_weeks}

