.footer
  .pull-left
    &copy; 2015 
    =link_to 'Paige Ponzeka', 'https://ponzeka.com', :target => '_blank'
    & 
    = link_to 'Big Apple Softball League', 'https://bigapplesoftball', :target => '_blank'
  .pull-right
    = link_to 'Contact', '/contact'