.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand
        %a{:href => "/welcome", :title => "Ratings Manager"}
          %i.brand-logo-40
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/welcome"} Teamsnap Teams
        %li
          %a{:href => seasons_path} Seasons
      - if is_admin?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.glyphicon.glyphicon-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => '/admin/home'} Admin
          - if is_logged_in?
            %li
              %a{:href => '/logout'} Logout