%select.chosen-select{:name => selectName, :data => {:placeholder => placeHolder}, :id => selectId, :style => "width:350px;"}
  %option{:value => 0}
  -profiles.each do |profile|
    -if currentValue && currentValue == profile.id
      %option{:value => profile.id, :selected => 'true'}="#{profile.first_name} #{profile.last_name}"
    -else
      %option{:value => profile.id}="#{profile.first_name} #{profile.last_name}"