- content_for :panel_head do
  %h1 
    Permission Denied!
%p Looks like you tried to get to a page you don't have permissions to access
%p if you think this was in error please log out and try again, if it continues please contact and administrator at webteam@bigapplesoftball.com