%h1
  Welcome!

%table.table.table-striped.table-bordered
  %tr
    %th
      Team Id
    %th
      Team Name
    %th
  -@teams.each do |teamData|
    -team = teamData['team']
    - roster = team['available_rosters'].first
    %tr.team
      %td=team['id']
      %td=team['team_name']
      %td=link_to raw('View Team Roster'), "/teams/#{team['id']}/#{roster['id']}", :title => 'Meet the Team', :class => 'btn btn-default'
