!!!
%html
  %head
    =stylesheet_link_tag "calendar.css"
  %body
    %h4 Upcoming Events
    %ul.calendar-event-list
      -@events.each do |event|
        %li.event
          .event-summary=event['summary']
          .event-description=event['description']
          .event-location=event['location']
          .event-link=link_to 'Event Link', event['htmlLink'], {:target => '_blank'}
          .event-date
            =event['startDate']

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag "moment.js"
    = javascript_include_tag "calendar.js"

