- content_for :panel_head do
  %h1 
    Big Apple Softball League Player Ratings for
    =@active_season.description 
  = link_to raw('<i class="fa fa-download"></i> Download CSV'), ratings_path('csv'), :class => 'btn btn-default'
  = link_to 'Show Duplicate Ratings', '/rating/duplicates', :class=> 'btn btn-default'

Showing Ratings


