- content_for :panel_head do
  %h1 
    Big Apple Softball League Player Ratings for
    =@active_season.description 

= render :partial => 'ratings/ratings', :locals => {:season => @active_season}


