- content_for :panel_head do
  %h1 
    Duplicate Ratings
  = link_to "Remove All Duplicates", '/rating/duplicates/remove', :class => 'btn btn-default'

- if @duplicate_ratings.length > 0
  %table.table.table-striped.table-condensed.table-bordered
    %tr
      %th Id
      %th Player
      %th Player Id
      %th Rating
      %th Updated At
      %th Actions


    - @duplicate_ratings.each do |rating|
      %tr
        %td=rating.id
        %td
          -if rating.profile
            =rating.profile.name
        %td
          -if rating.profile
            =rating.profile_id
        %td
          =rating.total
        %td
          %span.small-text=rating.updated_at.strftime("%m/%d/%Y at %I:%M%p")
        %td= render partial: "shared/actions/delete", locals: { deleteItem: rating, deleteText: ''}
- else
  .well
    No Duplicate Ratings Found!

