.panel.panel-primary
  .panel-heading
    %h1 Editing Sponsor
    = link_to '<< Back', sponsors_path, :class=> 'btn btn-default'
    = link_to 'Show', @sponsor, :class=> 'btn btn-default'
  .panel-body
    = render 'form'


