%p#notice= notice
.panel.panel-primary
  .panel-heading
    %h3=link_to @sponsor.name, @sponsor.url
  .panel-body
    %p=@sponsor.details
    .panel.panel-default
      .panel-heading
        Sponsored Teams
      .panel-body
        %ul
          -@teamSponsors.each do |team_sponsor|
            %li=link_to "#{team_sponsor.team.name} (#{team_sponsor.team.division.season.season_desc})", team_sponsor.team



= link_to 'View our Sponsors', sponsors_path
