- content_for :panel_head do
  %h1=@sponsor.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_sponsor_path(@sponsor), fieldName: 'Sponsor', allPath: sponsors_path}

- if @sponsor.logo_url
  .sponsors-logo
    %img{:src => @sponsor.logo_url}

=link_to @sponsor.name, @sponsor.url
.sponsors-description=@sponsor.details
- if @teamSponsors.length > 0
  .panel.panel-default
    .panel-heading
      Sponsored Teams
    .list-group
      -@teamSponsors.each do |team_sponsor|
        %li.list-group-item=link_to "#{team_sponsor.team.name} (#{team_sponsor.team.division.season.description})", team_sponsor.team
