- content_for :panel_head do
  %h1 Editing Board Member
  = render partial: "shared/actions/edit_actions", locals: { allPath: board_members_path, fieldName: 'Field', showPath: @board_member}
  - if @board_member.profile
    = link_to raw("<i class='glyphicon glyphicon-pencil'></i> Edit Profile"), edit_profile_path(@board_member.profile), :class => 'btn btn-default'

= render 'form'
