- content_for :panel_head do
  %h1 Select a season to see the games
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_game_path}

%ul.list-group
  - @seasons.each do |season|
    = link_to season.description, "/season/#{season.id}/games", :class =>'list-group-item'