- content_for :panel_head do
  %h1 Permissions
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_permission_path}
%table
  %thead
    %tr
      %th Name
      %th.action-column

  %tbody
    - @permissions.each do |permission|
      %tr
        %td= permission.name
        %td= render partial: 'shared/actions/table_actions', locals: { editPath: edit_permission_path(permission), deletePath: permission}
