- content_for :panel_head do
  %h1 Editing Permission
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_permission_path(@permission), fieldName: 'Role', allPath: permission_path}
%p
  %b Name:
  = @permission.name
