.panel.panel-warning
  .panel-heading
    %h1 Editing Committee
    = link_to '<< Back', committees_path, :class=> 'btn btn-default'
    = link_to 'Show', @committee, :class=> 'btn btn-default'
  .panel-body= render 'form'
