- all_seasons_list
%ul.dropdown-menu
  - if all_seasons_list[:current].length > 0
    - if all_seasons_list[:current].length == 1

    - else
      %li
        %a.trigger.right-caret Current Seasons
        %ul.dropdown-menu.sub-menu
          -all_seasons_list[:current].each do |current_season|
            %li=link_to current_season.description, current_season
  - if all_seasons_list[:upcoming].length > 0
    %li
      %a.trigger.right-caret Upcoming Seasons
      %ul.dropdown-menu.sub-menu
        -all_seasons_list[:upcoming].each do |upcoming_season|
          %li=link_to upcoming_season.description, upcoming_season
  -if all_seasons_list[:past].length > 0
    %li
      %a.trigger.right-caret Past Seasons
      %ul.dropdown-menu.sub-menu
        -all_seasons_list[:past].each do |past_season|
          %li=link_to past_season.description, past_season