%html
  %head
    =stylesheet_link_tag "offerList.css"
  %body
  %ul.offer-list
    -@offers.each do |offer|
      %li.offer-list-item
        .offer-list-item-image-container
          - if offer.image
            .offer-list-item-image{:style =>"background-image: url(#{offer.image})"}
        .offer-list-item-name
          %p=offer.name
        -if offer.company_name
          .offer-list-item-company
            from
            %span.company-name= offer.company_name
        .offer-list-item-description
          %p=offer.description

        .offer-list-item-more
          -if offer.link
            .offer-list-item-link
              =link_to offer.link, offer.link, {:target=>'_parent'}
          -if offer.google_map_url
            .offer-list-item-map
              =link_to offer.google_map_url, offer.google_map_url, {:target=>'_parent'}
  .well
    Sponsor a team, and looking to leave some offers for our members on this page? 
    Or do you just want to leave offers for BASL league members?
    
    Contact the BASL Webteam: webteam@bigapplesoftball.com. 

