%tr.js-role-permission-item
  %td= permission.name
  %td= link_to "X", "",{:data => {:permission_id => permission.id, :role_id => role.id},
  :class => "btn btn-sm btn-danger js-remove-role-permission js-role-permission-#{role.id}-#{permission.id}"}