.yes-icon,
.no-icon {
  display: block;
  margin: 0 auto;
}
.yes-icon {
  color: $brand-success;

}

.no-icon {
  color: $brand-danger;
}

.icon-team-manager {
  color: $blue;
}

.icon-team-rep {
  color: $yellow;
}

.icon-league-admin {
  color: $red;
}

.icon-division-rep {
  color: $purple;
}

.admin-action-icon {
  font-size: 20px;
}

.fa {
  font-size: 20px;
  vertical-align: middle;
}