// tables
td,
th {
  &.center-column {
    text-align: center;
  }

  &.throwing-column {
    color: $throwing-color;
    border: 2px $throwing-color solid !important;
  }

  &.batting-column {
    color: $hitting-color;
    border: 2px $hitting-color solid !important;
  }

  &.baserunning-column {
    color: $running-color;
    border: 2px $running-color solid !important;
  }

  &.fielding-column {
    color: $fielding-color;
    border: 2px $fielding-color solid !important;
  }

  &.fundamentals-column {
    color: $misc-color;
    border: 2px $misc-color solid !important;
  }

  &.experience-column {
    color: $experience-color;
    border: 2px $experience-color solid !important;
  }
}

td {
  &.experience-column {
    color: black;
  }

  &.fundamentals-column {
    color: black;
  }
  &.throwing-column {
    color: black;
  }

  &.batting-column {
    color: black;
  }

  &.baserunning-column {
    color: black;
  }

  &.fielding-column {
    color: black;
  }
}