$yellow: #CCCC00;
$green: #78B653;
$blue: #50ABD2;
$purple: #9557d8;
$red: #FD5961;
$orange: #ff9B5A;
$pink: #DC4DC5;
$teal: #4bd4b9;
$deep-blue: #5d75d3;
$dark-gray: #3A3A3A;

$throwing-color: $green; // green
$fielding-color: $blue; // blue
$running-color: $purple; // purple
$hitting-color: $red; // red
$misc-color:  $orange;
$experience-color: $yellow;

$fields-bg: $purple;
$admins-bg: $red;
$sponsors-bg: $blue;
$hofs-bg: $yellow;
$board_members-bg: $green;
$committees-bg: $orange;
$profiles-bg: $pink;
$games-bg: $deep-blue;
$parks-bg: lighten($fields-bg, 10%);

// overriding bootstrap vars
$brand-primary: $fielding-color;
$brand-success: $throwing-color;
$brand-warning: $running-color;
$brand-danger: $hitting-color;
$brand-info: $yellow;

$link-color: darken($blue, 10%);
$grey: #66696A;