= render partial: "shared/actions/all", locals: { allPath: allPath, fieldName: fieldName}
- if is_admin? || (defined?(canEdit) && canEdit)
  = render partial: "shared/actions/edit", locals: { editPath: editPath, editText: 'Edit'}