- content_for :panel_head do
  %h1 Division Payment Rosters
  .alert.alert-info Please give the Rosters time to load
  = link_to 'Send All Division Roster Emails', '/payments/divisions/sendAll', {:class => 'btn btn-default', :target => '_blank'}
%ul.list-group
  -@divisions.each do |key, value|
    %li.list-group-item
      = link_to key, "/payments/division/#{value}", {:target => '_blank'}