%h1=#@targeted_division

- @teams_by_division.each do |team|

  %ul.list-group
    %li.list-group-item
      %h2= team[:team]['team_name']
      %table.table-striped.table.table-condensed
        %tr
          %th Player Name
          %th Player Paid?
        - team[:player].each do |key, value|
          %tr
            %td=value[:name]
            %td=value[:hasPaid]
          
