- if player_rating.present?
  .approved-status
    %i.fa.fa-check
    %span.medium-large-screen-only Approved
  .rejected-status
    %i.fa.fa-ban
    %span.medium-large-screen-only Rejected
  .pending-status
    %i.fa.fa-refresh
    %span.medium-large-screen-only Pending