- if player_rating.present?
  - if player_rating.is_approved
    %i.fa.fa-check
    %span.medium-large-screen-only Approved
  - elsif player_rating.is_approved == false
    %i.fa.fa-ban
    %span.medium-large-screen-only Rejected
  - else
    %i.fa.fa-refresh
    %span.medium-large-screen-only Pending