/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.modal-primary {
  .modal-header {
    background: $brand-primary;
    color: #fff;
  }
}

.modal-success {
  .modal-header {
    background: $brand-success;
    color: #fff;
  }
}
.modal-warning {
  .modal-header {
    background: $brand-warning;
    color: #fff;
  }
}

.modal-danger {
  .modal-header {
    background: $brand-danger;
    color: #fff;
  }
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-rating {
  .modal-dialog {
    width: 900px;
  }
}