.board-members-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'sans-serif';
  @include clearfix;
  
  .board-member-card {
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    margin: 5px;
  }

  .board-member-card-overlay {
    position: absolute;
    width: 300px;
    height: 400px;
    background: image_url('board-card.png') 0 0 no-repeat;
  }
  
  .board-member-card-details {
    position: absolute;
    bottom: 14px;
    left: 12px;
    height: 74px;
    width: 277px;
    text-align: center;
    color: #fff;

    .board-member-card-name {

      a {
        color: #fff;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    .board-member-card-position {
      font-size: 12px;
      width: 277px;
      overflow: hidden;
      max-height: 15px;
      color: #c2c2c2;
      margin: 5px 0;
    }

    .board-member-card-email {
      font-size: 12px;
      word-break: break-all;
    }
  }

  .board-member-card-image {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;

    }
  }

}