#controller-schedules {

  .game-list {
    margin: 5px;
  }

  .game-list-item {
    border: 1px solid #dddddd;
    padding: 0 5px;
  }

  .scheduler-results {
    height: 1000px;
    overflow: auto;
  }
}