- content_for :panel_head do
  %h1 Editing Team Sponsor
  = render partial: "shared/actions/edit_actions", locals: { allPath: teams_sponsors_path, fieldName: 'Team Sponsor', showPath: @teams_sponsor}

= render 'form'