- content_for :panel_head do
  %h1 Team Sponsors
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_teams_sponsor_path}
  = link_to '+ Create New Sponsor', new_sponsor_path, {:class => 'btn btn-default'}

%ul.list-group
  - @seasons.each do |season|
    %li.list-group-item
      =link_to season.description, "/season_sponsors/#{season.id}"

