- content_for :panel_head do
  %h1 Editing Team Sponsor
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_teams_sponsor_path(@teams_sponsor), fieldName: 'Teams Sponsor', allPath: teams_sponsor_path}

%p
  %b Team:
  = @teams_sponsor.team.name
%p
  %b Sponsor:
  = @teams_sponsor.sponsor.name
%p
  %b Is active:
  = @teams_sponsor.is_active
