- content_for :panel_head do
  %h1 Editing Field
  = render partial: "shared/actions/edit_actions", locals: { allPath:park_path(@field.park), fieldName: 'Field', showPath: @field.park}

= render 'form'
