- content_for :panel_head do
  %h1 Fields
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_field_path}

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Name
      %th Park
      %th.actions-column

  %tbody
    - @fields.each do |field|
      %tr
        %td= field.name
        %td
          - if field.park
            = link_to field.park.name, field.park
        %td
          = render partial: 'shared/actions/table_actions', locals: { editPath: edit_field_path(field), deletePath: field}
