- content_for :panel_head do
  %h1 
    Fields for
    = @park.name
  = link_to 'View Park', @park, :class => 'btn btn-default'
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_park_field_path}


%ul.list-group
  - @fields.each do |field|
    %li.list-group-item
      .pull-left=field.name
      .pull-right= render partial: 'shared/actions/table_actions', locals: { editPath: edit_park_field_path(field.park, field), deletePath: [field.park, field]}
