- content_for :panel_head do
  %h1= @field.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_field_path(@field), fieldName: 'Field', allPath: fields_path}

%p
  %b Name:
  = @field.name
%p
  %b Park:
  - if @field.park
    = @field.park.name