- content_for :panel_head do
  %h1 Importing Divisions


%ul.list-group
  -@divisions.each do |division|
    %li.list-group-item
      = division[:name]
      .teamsnap_id= division[:teamsnap_id]
      .division_type=division[:type]
      - teams = @teams[division[:teamsnap_id].to_i]
      - teams.each do |team|
        = team['team_name']
        = team